html, body {
  margin: 0 0;
  padding: 0 0;
}
.container {
  max-width: 85%;
  margin: 10px auto;
}
a {
  text-decoration: none;
  color: #000;
}
.nav {
  display: flex;
  background-color: rgb(255, 102, 0);
  align-items: center;
  justify-content: space-between;
  height: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav > ul {
  display: flex;
  align-items: center;
  font-size: 10pt;
  list-style: none;
  padding: 0 2px;
}
.page-links {
  display: flex;
  list-style: none;
  padding: 0 10px;
}
.logo {
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
}
.logo a img {
  width: 18px;
  height: 18px;
}
.logo-text {
  padding-left: 5px;
}
.page-link:not(:last-child){
  border-right: 1px solid #000;
}
.page-link {
  padding-left: 5px;
  padding-right: 5px;
}
.login-link {
  padding-right: 5px !important;
}
.news {
  background-color: rgb(246, 246, 239);
  margin: -10px auto !important;
  padding: 10px 0;
  font-size: 10pt;
  color: gray;
}

.arrow-up {
  position: absolute;
  width: 0; 
  height: 0; 
  margin-top: 3px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid gray;
  transform: rotate(180deg);
}
.headline {
  color: #000000;
  margin-left: 12px;
  margin-bottom: 0;
}
.source {
  color: gray;
  font-size: 8pt;
}
.others {
  font-size: 7pt;
  padding: 0 5px;
}

.info > .others:not(:last-child) {
  border-right: 0.5px solid gray;
}
.info {
  margin-left: 10px;
}
.next-page {
  margin-left: 50px;
}
.orange-line {
  border: 1px solid rgb(255, 102, 0);
}
.footer {
  text-align: center;
  padding: 10px 0;
}
.other-pages {
  padding: 10px 0;
}
.other-pages > a {
  padding: 0 3px;
  font-size: 8pt;
}
.other-pages > a:not(:last-child) {
  border-right: 0.5px solid #000;
}
.search-label {
  padding-right: 8px;
}
.panel-container {
  position: fixed;
  display: grid;
  grid-template-columns: 15% 85%;
  width: 30%;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  background-color: #000;
}
.right-panel {
  background-color: rgb(96, 97, 112);
}
.left-panel {
  background-color: rgb(69, 73, 80);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid #000;
  box-shadow: #000 2px 2px 20px 2px;
}
.panel-icons {
  height: 75%;
  text-align: center;
  padding: 15% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.panel-icon {
  font-size: 25px;
}
.icon-task {
  color: gray;
  font-size: 10pt;
}
.function {
  border-bottom: 4px solid #000;
}
.input-function {
  border-left: 5px solid aquamarine;
}
.click-function {
  border-left: 5px solid rgb(245, 93, 93);
}
.paginate-function {
  border-left: 5px solid yellow;
}
.extract-function {
  border-left: 5px solid rgb(134, 147, 223);
}
.top-container {
  background-color: rgb(69, 73, 80);
  width: 100%;
  height: 15%;
  padding: 5%;
  text-align: left;
}
.site-name {
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.site-url {
  color: gray;
  font-size: 10pt;
  margin-top: 0;
}
.devider {
  width: 90%;
  padding: 0;
  margin: 0;
  border: 0.5px solid gray;
  margin-bottom: 5%;
}
.spacer {
  margin: 0 8px;
}
.flow-chart {
  width: 100%;
}
.box {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin: 50px auto 0 auto;
  border-radius: 5px;
  width: 180px;
  height: 50px; 
}
.start-box {
  color: #fff;
  border-left: 8px solid #fff;
}
.input-box {
  color: aquamarine;
  border-left: 8px solid aquamarine;
}
.extract-box {
  color: rgb(134, 147, 223);
  border-left: 8px solid rgb(134, 147, 223);
}
.paginate-box {
  color: yellow;
  border-left: 8px solid yellow;
}
.box-left {
  display: flex;
  justify-content: space-around;
  max-height: 50px;
  align-items: center;
  text-align: center;
  padding-left: 5px;
  background-color: rgb(128, 130, 146);
}

.process-name {
  font-size: 10pt;
  font-weight: 700;
  color: #fff;
}
.process-name > span {
  font-size: 8pt;
  font-weight: 400;
  color: rgb(233, 227, 227);
}
.options {
  background-color: rgb(69, 73, 80);
  height: 50px;
  padding: 0 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
}
.notification {
  background-color: #EA425C;
  font-size: 12px;
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: -25px;
  font-weight: 700;
}
.start-box::after {
  position: absolute;
  content: "";
  height: 50px;
  border: 1.5px dashed rgb(128, 130, 146);
  margin-left: 220px;
  margin-top: 240px;
}
.start-box::before {
  position: absolute;
  content: "";
  width: 0; 
  height: 0; 
  margin-top: 280px;
  margin-left: 212px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid gray;
}
.input-box::after {
  position: absolute;
  content: "";
  height: 50px;
  border: 1.5px dashed rgb(128, 130, 146);
  margin-left: 220px;
  margin-top: 340px;
}
.input-box::before {
  position: absolute;
  content: "";
  width: 0; 
  height: 0; 
  margin-top: 380px;
  margin-left: 212px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid gray;
}
.extract-box::after {
  position: absolute;
  content: "";
  height: 50px;
  border: 1.5px dashed rgb(128, 130, 146);
  margin-left: 220px;
  margin-top: 440px;
}
.extract-box::before {
  position: absolute;
  content: "";
  width: 0; 
  height: 0; 
  margin-top: 480px;
  margin-left: 212px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid gray;
}
.paginate-box::after {
  position: absolute;
  content: "";
  height: 100px;
  width: 35px;
  border-top: 1.5px dashed rgb(128, 130, 146);
  border-left: 1.5px dashed rgb(128, 130, 146);
  border-bottom: 1.5px dashed rgb(128, 130, 146);
  margin-left: 100px;
  margin-top: 415px;
}
.paginate-box::before {
  position: absolute;
  content: "";
  width: 0; 
  height: 0; 
  margin-top: 406px;
  margin-left: 127px;
  border-left: 10px solid gray;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}